<footer>
    <nav>
        <div class="footer-nav-bar">
            <div>
                <h3>Tools</h3>
                <ul>
                    <li><a href="https://covid19api.com/">Covid19 API</a></li>
                    <li><a href="https://angular.io/">Angular</a></li>
                </ul>
            </div>

            <div>
                <h3>Tools</h3>
                <ul>
                    <li><a href="https://covid19api.com/">Covid19 API</a></li>
                    <li><a href="https://angular.io/">Angular</a></li>
                </ul>
            </div>

            <div>
                <h3>Contact</h3>
                <ul>
                    <li><a href="https://github.com/Lelikbjmak">github</a></li>
                    <li><a href="https://www.linkedin.com/in/denis-solovey-261613246/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <p id="rights">© 2023 Innowise-group. All rights reserved.</p>
    </nav>
</footer>