<footer>
    <nav>
        <div class="footer-nav-bar">
            <div>
                <h3>FrontEnd</h3>
                <ul>
                    <li><a href="https://angular.io/">Angular 12</a></li>
                </ul>
            </div>

            <div>
                <h3>BackEnd</h3>
                <ul>
                    <li><a href="https://www.scala-lang.org/">Scala</a></li>
                    <li><a href="https://doc.akka.io/docs/akka-http/current/introduction.html">Akka HTTP</a></li>
                    <li><a href="https://covid19api.com/">Covid19 API</a></li>
                </ul>
            </div>

            <div>
                <h3>Contact</h3>
                <ul>
                    <li><a href="https://github.com/Lelikbjmak">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/denis-solovey-261613246/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <p id="rights">© 2023 Innowise-group. All rights reserved.</p>
    </nav>
</footer>