@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
}

p {
    font-family: 'Montserrat';
}

p:first-child {
    cursor: pointer;
}

p:last-child {
    font-weight: 800;
    font-size: x-large;
}

header p:first-child span:first-child {
    font-style: italic;
    font-weight: 700;
    font-size: xx-large;
    color: black;
}

header p:first-child span:last-child {
    color: red;
    font-weight: 200;
    font-size: xx-large;
}

